body {
    background-color: white;
  }
  
  .input-group-text {
    background-color: #cbcfcf; 
  }
  
  .btn-info {
    background-color: #1a2239; 
    border-radius: 15px;
    border: none;
  }
  


  